<div id="<%= dom_id sensor %>">
  <p>
    <strong>Name:</strong>
    <%= sensor.name %>
  </p>

  <p>
    <strong>Input type:</strong>
    <%= sensor.input_type %>
  </p>

  <p>
    <strong>Min value:</strong>
    <%= sensor.min_value %>
  </p>

  <p>
    <strong>Max value:</strong>
    <%= sensor.max_value %>
  </p>

  <p>
    <strong>Minute between reading:</strong>
    <%= sensor.minute_between_reading %>
  </p>

</div>
